.foot {
  bottom: 0;
    position: absolute;
    width: 100%;
    
}

.nav-links {
  color: white;
  margin: 1em;
}

.MuiButton-containedPrimary {
  color: #fff !important;
  background-color: #308286 !important;
}

.submit-register-btn{
  border-radius: 1em;
  cursor:pointer;
}

.makeStyles-drawerPaper-19 {
  width: 240px !important;
  background-color: darkcyan !important;
  color: #fff !important;
}

.drawer-content-text {
  text-align: center;
  font-weight: 100;
  margin: 8%;
}

.licence-text{
  margin: 10px;
  font-weight: 100;
  font-size: x-large;
  color: #2a8b8a;
  margin-left: 10em;

}

.MuiDialog-paperWidthSm {
  max-width: 600px;
  width: 35%;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: #017F8D !important;
}

.MuiSwitch-switchBase {
  top: 0;
  left: 0;
  color: #017F8D !important;
  z-index: 1;
  position: absolute;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.popup-header{
  background: #017F8D;
  color: #fff;
}



.loggOut-icon {
  font-size:'18px' !important;
  color: '#017F8D' !important;
  float: 'right' !important;
  cursor: pointer !important;
}