.App {
  text-align: center;
  margin: auto;
}

.form-margin {
  margin: 2em;
}

.news-cards {
  margin: 1em;
  width: fit-content;
  margin-left: 8em;
}
.font-desc{
  font-size: large !important;
  font-weight: 800 !important;
}

.page-wrapper{
  min-height:100px ;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.foot {
  bottom: 0;
    position: absolute;
    width: 100%;
    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
}


.footer .footer-content{
  border: 1px solid red;
  height: 100px;
}

.footer .footer-bottom{
  background-color: black;
  color: white;
  height: 50px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  left: 0px;
  width: 100%;
  padding-top: 20px;
}
